# 依赖
node_modules
npm-debug.log

# Next.js
.next
out

# 环境变量
.env
.env.local
.env*.local

# 临时文件
temp
*.log

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# 测试
coverage
.nyc_output

# 其他
README.md
docker-compose.yml
.dockerignore

